@model DreamMessenger.Models.AccountModels.ResetPasswordViewModel

<html>
<body>
<table width="100%" cellspacing="0" cellpadding="0" border="0" style="max-width: 600px;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;">
              <tbody>
                <tr>
                  <td class="o_ereset o_bg-default o_bg-center o_br o_px-md o_py-lg o_text-xs-center" background="https://i.imgur.com/gbHECgF.png" data-bgcolor="Default" data-bg="Hero Lines Color 2" style="line-height: 100%;background-color: #056ff0;border-radius: 6px;padding-left: 24px;padding-right: 24px;padding-top: 32px;padding-bottom: 32px;background-position: 50% 0%;background-repeat: no-repeat;font-size: 0 !important;">
                    <div class="o_col o_col-2 o_text-left o_text-xs-center" style="width: 100%;vertical-align: top;max-width: 184px;text-align: left;display: inline-block !important;">
                      <div class="o_px-xs" style="padding-left: 8px;padding-right: 8px;">
                        <p class="o_text o_text-sans" data-size="Text Normal" data-min="14" data-max="20" style="font-family: sans-serif;word-break: break-word;margin-top: 0px;margin-bottom: 0px;font-size: 16px;line-height: 24px;"><a class="o_text-white o_link" data-color="Text White" style="color: #ffffff;text-decoration: none;outline: none;display: inline-block;transition: all .15s ease-in;"><img src="http://www.stampready.net/dashboard/editor/user_uploads/zip_uploads/2018/03/16/LeZTPDfYnaAMUlV4rN3QwBh6/confirm_email_address/images/logo_icon_default.png" width="52" height="44" alt="TL;DR" data-crop="false" style="max-width: 52px;-ms-interpolation-mode: bicubic;display: block;border: 0;line-height: 100%;height: auto;outline: none;text-decoration: none;"></a></p>
                        <div style="font-size: 4px; line-height: 4px; height: 4px;">&nbsp; </div>
                      </div>
                    </div>
                    <div class="o_col o_col-4 o_text-right o_text-xs-center" style="width: 100%;vertical-align: top;max-width: 368px;text-align: right;display: inline-block !important;">
                      <div class="o_px-xs" style="padding-left: 8px;padding-right: 8px;">
                        <div style="font-size: 8px; line-height: 8px; height: 8px;">&nbsp; </div>
                        <p class="o_text-headline o_text-xxs o_text-muted" data-color="Text Muted" data-size="Text XXS" data-min="10" data-max="16" style="font-family: sans-serif;word-break: break-word;font-weight: bold;font-size: 12px;line-height: 19px;text-transform: uppercase;letter-spacing: 1px;color: #687887;margin-top: 0px;margin-bottom: 0px;"><a class="o_text-white o_link" href="mailto:pavel.skakodub@List.ru" data-color="Text White" style="color: #ffffff;text-decoration: none;outline: none;display: inline-block;transition: all .15s ease-in;"><span data-color="Text White" style="color: #ffffff;">Contact Support</span></a></p>
                        <div style="font-size: 16px; line-height: 16px; height: 16px;">&nbsp; </div>
                      </div>
                    </div>
                    <div style="font-size: 16px; line-height: 16px; height: 16px;">&nbsp; </div>
                    <div class="o_px-xs o_text-center" style="text-align: center;padding-left: 8px;padding-right: 8px;">
                      <table align="center" cellspacing="0" cellpadding="0" border="0" style="-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;margin: 0 auto;">
                        <tbody>
                          <tr>
                            <td class="o_bg-white o_text o_text-sans o_text-white o_p-icon o_br-max" align="center" data-bgcolor="White" data-color="Text White" data-size="Text Normal" data-min="14" data-max="20" style="font-family: sans-serif;word-break: break-word;background-color: #ffffff;color: #ffffff;border-radius: 56px;padding: 12px;font-size: 16px;line-height: 24px;">
                              <img class="o_br-max" src="http://www.stampready.net/dashboard/editor/user_uploads/zip_uploads/2018/03/16/LeZTPDfYnaAMUlV4rN3QwBh6/confirm_email_address/images/icon_lock.gif" width="88" height="88" alt="Warning" style="max-width: 88px;border-radius: 56px;-ms-interpolation-mode: bicubic;display: block;border: 0;line-height: 100%;height: auto;outline: none;text-decoration: none;">
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <h1 class="o_text-headline o_text-white o_mt-md o_mb-xs" data-color="Text White" data-size="Heading 1" data-min="26" data-max="38" style="font-family: sans-serif;word-break: break-word;font-weight: bold;color: #ffffff;margin-top: 24px;margin-bottom: 8px;font-size: 32px;line-height: 41px;">Password Reset</h1>
                      <p class="o_text-lg o_text-sans o_text-white o_mb-lg" data-color="Text White" data-size="Text Large" data-min="18" data-max="24" style="font-family:sans-serif;word-break: break-word;color: #ffffff;margin-top: 0px;margin-bottom: 32px;font-size: 20px;line-height: 30px;">@Model.FirstName @Model.LastName, we received a request to reset your account's password. @Model.Date</p>
                      <table class="o_btn" align="center" cellspacing="0" cellpadding="0" border="0" style="transition: all .15s ease-in;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;margin: 0 auto;">
                        <tbody>
                          <tr>
                            <td class="o_pbtn o_text-md o_br-max o_bg-white" align="center" data-bgcolor="White" data-size="Text Medium" data-min="16" data-max="22" style="padding: 14px 32px;vertical-align: top;background-color: #ffffff;border-radius: 56px;font-size: 18px;line-height: 27px;">
                              <a class="o_text-headline o_text-dark" href="@Model.CallbackUrl" data-color="Text Dark" style="font-family:sans-serif;word-break: break-word;font-weight: bold;color: #212932;text-decoration: none;outline: none;display: block;">
                                  <span data-color="Text Dark" style="color: #212932;">Reset My Password</span>
                              </a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <div style="font-size: 8px; line-height: 8px; height: 8px;">&nbsp; </div>
                    </div>
                  </td>
                </tr>
              </tbody>
			</table>
</body>
</html>
